@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit ;
  text-decoration: none;
}

.page-content {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.header {
  box-shadow: 0px 5px 5px #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header img {
  margin: 0 2rem;
  width: 21rem;
}

.nav-bar>ul {
  color: #777;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  list-style: none;
  margin: 0 2rem;
  text-transform: uppercase;
}

.nav-bar>ul>li {
  padding: 0 2rem;
}

.your-style>h1 {
  font-size: 6rem;
  font-weight: 800;
  margin: 5rem auto;
  text-align: center;
}

.style-one {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 5rem auto;
}

.style-off {
  background-color: #c2185b;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  min-height: 60vh;
  margin: 6rem 0;
  padding: 2rem 2rem;
}

.style-off h2 {
  color: white;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.style-off .shoes-off,
.highlight {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1.5rem;
}

.highlight {
  margin: 6rem 0;
}

.highlight-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.highlight-details h3 {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.highlight-details>.detail-link {
  background-color: #c2185b;
}
/*   padding: 2rem 4rem; */

.highlight-details>.detail-link>a {
  color: white;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  padding: 3rem 8rem;
}

.highlight-details>img {
  flex-grow: 1;
  width: 100%;
}

.footer {  
  background-color: #c2185b;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 3rem 6rem;
}

.footer>div {
  grid-column: span 2;
}

.footer>div>img {
  width: 20rem;
}

.footer>div>p {
  font-size: 1.4rem;
}

.footer>ul {
  list-style: none;
}

.footer>ul>li {
  font-size: 1.6rem;
}

.footer>ul>li:first-child {
  font-weight: bold;
}

/* team-up.html */

.team-up {
  margin: 6rem;
}

.team-up>h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.team-up>.form-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.form-area p {
  font-size: 1.7rem;
  padding: 1rem;
}

.team-form label {
  padding: 0 3rem 0 0.5rem;
  font-size: 1.4rem;
}

.team-form .main-label,
.team-form .main-input,
.team-form select {
  display: block;
  font-size: 1.8rem;
}

.team-form .main-label {
  margin-top: 1rem;
  padding: 0.5rem 0;
}

.team-form .main-input,
.team-form select,
.team-form textarea {
  margin-bottom: 2rem;
  line-height: 2rem;
  padding: 0.25rem 1rem;
  width: 100%;
}

.team-form label:last-of-type {
  font-size: 1.8rem;
  padding-right: 0.75rem;
}

#curriculum {
  display: none;
}

.team-form > .upload {
  background-color: #777;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.25rem 4rem;
}

.team-form button[type="submit"] {
  background-color: #c2185b;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 4rem;
  margin-top: 2rem;
  width: 100%;
}